/* GENERAL STYLES */
@font-face {
    font-family: pokemon_font;
    src: url(pokemon_font.ttf);
}

@mixin text_format($textSize) {
    font-family: pokemon_font, Helvetica, Arial;
    font-size: $textSize;
    text-transform: uppercase;
}

.container {
    padding: 2rem 5rem;
    margin: 0 auto !important;
    .pokemons_container {
        display: grid;
        gap: 2rem;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat( auto-fit, minmax(10rem, 1fr) );
        align-items: center;
        justify-content: center;
    }

    button {
        @include text_format(14px);
        margin: 20px
    }

}
.card_container {
    grid-column: span 2;
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.35);
    border-radius: 10px;
    .sprite_container {
        border-radius: 10px 10px 0px 0px;

        img {
            transition: all 0.3s ease-in-out;
        }

        img:hover {
            transform: translateY(-5px); 
        }
    }

    .pokemon_data {
        h2 {
            text-transform: capitalize;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .pokemon_types {
            span {
                color: white;
                padding: 5px;
                margin: 0px 5px;
                @include text_format(12px);
            }
        }

        .btn_details {
            margin: 15px 0px;
            padding: 5px;
            @include text_format(12px);
        }
    }
}

@keyframes ldio-ztpcx4422v-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(40px,0) }
   50%    { opacity: 0; transform: translate(40px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-ztpcx4422v {
    0% { transform: translate(0,0) }
   50% { transform: translate(40px,0) }
  100% { transform: translate(0,0) }
}
.ldio-ztpcx4422v div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 30px;
  left: 10px;
}
.ldio-ztpcx4422v div:nth-child(1) {
  background: #ebcb00;
  animation: ldio-ztpcx4422v 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-ztpcx4422v div:nth-child(2) {
  background: #2e62ad;
  animation: ldio-ztpcx4422v 1s linear infinite;
  animation-delay: 0s;
}
.ldio-ztpcx4422v div:nth-child(3) {
  background: #ebcb00;
  animation: ldio-ztpcx4422v-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-eogxk3c1yiv {
  width: 91px;
  height: 91px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-ztpcx4422v {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.91);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ztpcx4422v div { box-sizing: content-box; }
